html {
    scroll-behavior: smooth;
}
body{
    background-color: rgb(17, 16, 16);}
    
  
main{
        margin: 100px;
    }
.to-top {
    position: fixed;
    bottom:16px;
    right:32px;
    width: 50px;
    height: 50px;
    justify-content: center;
    font-size: 22px;
    color: white;
    text-decoration: none;
    text-align: center;
}


h1{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;

}
h2 {
    color: seashell;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding-top: 150px;
}

h3{
    color: seashell;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

h4{ 
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: seashell;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: justify;
    padding-top: 250px;
}

div{

    animation: glitch 1s linear infinite;
    
    }
    
    @keyframes glitch{
    
    2%,64%{
    
    transform: translate(2px,0) skew(0deg);
    
    }
    
    4%,60%{
    
    transform: translate(-2px,0) skew(0deg);
    
    }
    
    62%{
    
    transform: translate(0,0) skew(5deg);
    
    }
    
    }
    
    div:before,
    
    div:after{
    
    content: attr(title);
    
    position: absolute;
    
    left: 0;
    
    }
    
    div:before{
    
    animation: glitchTop 1s linear infinite;
    
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    
    }
    
    @keyframes glitchTop{
    
    2%,64%{
    
    transform: translate(2px,-2px);
    
    }
    
    4%,60%{
    
    transform: translate(-2px,2px);
    
    }
    
    62%{
    
    transform: translate(13px,-1px) skew(-13deg);
    
    }
    
    }
    
    div:after{
    
    animation: glitchBotom 1.5s linear infinite;
    
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    
    }
    
    @keyframes glitchBotom{
    
    2%,64%{
    
    transform: translate(-2px,0);
    
    }
    
    4%,60%{
    
    transform: translate(-2px,0);
    
    }
    
    62%{
    
    transform: translate(-22px,5px) skew(21deg);
    
    }
    
    }