html {
    scroll-behavior: smooth;
}
body{
    background-color: rgb(17, 16, 16);}
    
  
main{
        margin: 100px;
    }
.to-top {
    position: fixed;
    bottom:16px;
    right:32px;
    width: 50px;
    height: 50px;
    justify-content: center;
    font-size: 22px;
    color: white;
    text-decoration: none;
    text-align: center;
}


h1{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;

}
h2 {
    color: seashell;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding-top: 150px;
}

h3{
    color: seashell;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

h4{ 
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    margin: 80px;

}

p{
    color: seashell;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: justify;
    padding-top: 250px;
}


div{
    position: relative;
    text-decoration: none;
    display: inline-block;
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;

    
  }
  
p.lowshake { animation: .8s shake infinite alternate; }
p.midshake { animation: .3s shake2 infinite alternate; }
p.highshake { animation: .1s shake3 infinite alternate; }


  @keyframes shake {
    0% { transform: skewX(-5deg); }
    5% { transform: skewX(4deg); }
    10% { transform: skewX(-5deg); }
    15% { transform: skewX(3deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }

  @keyframes shake2 {
    0% { transform: skewX(-35deg); }
    5% { transform: skewX(125deg); }
    10% { transform: skewX(-25deg); }
    15% { transform: skewX(40deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }

  @keyframes shake3 {
    0% { transform: skewX(-250deg); }
    5% { transform: skewX(160deg); }
    10% { transform: skewX(-370deg); }
    15% { transform: skewX(180deg); }
    20% { transform: skewX(50deg); }
    100% { transform: skewX(10deg); }  
  }

 